@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

:root {
  /* Colors */
  --main-color: #21358b;
  --text-color: #222222;
  --link-color: #375eff;
  --white-color: #ffffff;
  --light-grey-color: #f8f8f8;
  --grey-color: #444444;
  --header-text-color: rgba(255, 255, 255, 0.7);
  --header-text-highlight-color: #ffffff;
  --header-border-color: rgba(255, 255, 255, 0.15);
  --header-scrolled-bg-color: rgba(255, 255, 255, 0.9);
  /* Measures */
  --max-width: 70rem;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  background-color: var(--white-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row:nth-child(odd) {
  background-color: var(--light-grey-color);
}

.container {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: var(--max-width);
}